body{
  color: #ff4500;
 background: url(bgg.png);
/* background: linear-gradient(to right, #ffa751, #ffe259);  */
background-size: 500px 400px;
background-position: top 100 rem;


}


.container-center{
  max-width: 800px;
  margin: auto;
}
h1{
  border:1px solid;
  background-color: white;
  color: orangered;
  padding: 1rem 1rem;
  /* display: flex; */
  /* margin-top: 100px; */
  
  text-align: center;
  /* display: inline-flex; */
  display: block;
  /* max-width: 200px; */
  /* margin: auto; */
  border-radius: 1rem;
}

.btn{
  background-color: white;
  color: orangered;


}
.btn:focus{
  background-color: white;
  color: orangered;


}

.btn:hover{
  background-color: orangered;
  color: white;
}


/* Adding transformation when the button is active */ 

