@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
  color: #DA4453;
  font-family: 'Lobster', cursive;
  background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
}
.container-center{
  max-width: 800px;
  margin: auto;
}
h1{
 
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  color: white;
  padding: 1rem 1rem;
  /* display: flex; */
  margin-top: 100px;
  
  text-align: center;
  /* display: inline-flex; */
  display: block;
  max-width: 200px;
  margin: auto;
  border-radius: 1rem;
}

.button{
  background-color: white;
  color:#DA4453;

}